* {
  margin: 0px; 
  padding: 0px;
  transition: 0.4s ease-in;
  font-family: 'Abril Fatface', cursive;
font-family: 'Caveat', cursive;
font-family: 'Combo', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}

